@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section footerJS {
    <script src="~/Assets/client/js/shoppingCart.js"></script>
}
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="trang-chu" class="stext-109 cl8 hov-cl1 trans-04">
            Trang chủ
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Giỏ hàng
        </span>
    </div>
</div>

<!-- Shoping Cart -->
<div id="cartContent">
    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <thead>
                                    <tr class="table_head">
                                        <th class="column-1">Sản phẩm</th>
                                        <th class="column-2"></th>
                                        <th class="column-3">Giá</th>
                                        <th class="column-4">Số lượng</th>
                                        <th class="column-5">Tổng</th>
                                        <th class="column-3"></th>
                                    </tr>
                                </thead>
                                <tbody id="cartBody"></tbody>
                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <div class="flex-w flex-m m-r-20 m-tb-5">

                                <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" id="btnContinue">
                                    Tiếp tục mua hàng
                                </button>

                            </div>


                            <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" id="btnCheckout">
                                Tiến hành đặt hàng
                            </button>


                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Giỏ hàng
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Tổng tiền:
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="mtext-110 cl2" id="lblTotalOrder">

                                </span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50" id="divCheckout" style="display:none">
        <h2 align="center" style="color:black">Thông tin người mua/nhận hàng</h2>
        <div class="m-l-25 m-r--38 m-lr-0-xl">
            <div class="wrap-table-shopping-cart">
                <div>
                    <form id="frmPayment" method="post">
                        <div class="bor8 m-b-20 how-pos4-parent">
                            <input class="stext-111 cl2 plh3 size-116 p-lr-15" type="text" id="txtName" name="name" placeholder="Họ và tên">
                            <input class="stext-111 cl2 plh3 size-116 p-lr-15" type="text" id="txtAddress" name="address" placeholder="Địa chỉ">
                            <input class="stext-111 cl2 plh3 size-116 p-lr-15" type="number" id="txtPhone" name="phone" placeholder="Số điện thoại">
                        </div>

                        <div class="bor8 m-b-30">
                            <textarea class="stext-111 cl2 plh3 size-120 p-lr-15 p-tb-25" id="txtMessage" name="msg" placeholder="Ghi chú..."></textarea>
                        </div>

                        <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" id="btnCreateOrder">
                            Checkout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<script id="tplCart" type="x-tmpl-mustache">
    <tr class="table_row">
        <td class="column-1">
            <div class="how-itemcart1">
                <img src="{{Image}}" alt="IMG">
            </div>
        </td>
        <td class="column-2">{{ProductName}}</td>
        <td class="column-3">$ {{Price}}</td>
        <td class="column-4">
            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" data-price="{{Price}}" value="{{Quantity}}" data-id="{{ProductId}}">
                    <i class="fs-16 zmdi zmdi-minus"></i>
                </div>

                <input class="mtext-104 cl3 txt-center num-product txtQuantity" data-id="{{ProductId}}" type="number" data-price="{{Price}}" value="{{Quantity}}">

                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" data-price="{{Price}}" value="{{Quantity}}" data-id="{{ProductId}}">
                    <i class="fs-16 zmdi zmdi-plus"></i>
                </div>
            </div>
        </td>
        <td id="amount_{{ProductId}}" class="column-5">$ {{Amount}}</td>
        <td class="column-3 btnDeleteItem" data-id="{{ProductId}}"><button><i class="fa fa-close"></i></button></td>
    </tr>
</script>
