
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="myController">

        {{message}}
        <br />
        10+20={{10+20}}
    </div>
    ********* Scope long nhau   ********************

    <div ng-controller="schoolController">
        <div ng-controller="studentController">
            Student: {{message}}
        </div>
        <div ng-controller="teacherController">
            School: {{message}}
        </div>
        From School : {{message}}
    </div>
    ************* rootScope ************
    <div ng-controller="houseController">
        {{message}}
    </div>
    <div ng-controller="peopleController">
        {{message}}
    </div>
</body>
</html>
