<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sản phẩm
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ </a></li>
        <li><a href="#">Sản phẩm</a></li>
        <li class="active">Danh sách</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Sản phẩm</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <!--<div class="input-group">
                        <input type="text" class="form-control" ng-model="keyword" placeholder="Từ khóa">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">Tìm Kiếm!</button>
                        </span>
                    </div>-->
                    <!-- /input-group -->

                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="search()"><i class="fa fa-search"></i></button>
                                </div>
                                <input type="text" ng-keyup="searchPressEnter($event)" class="form-control" placeholder="Tìm kiếm..." ng-model="keyword">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    <button class="btn btn-success" ui-sref="product_add">Thêm mới</button>
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled>Xóa</button>
                </div>

            </div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td align="center"><label><input name="all" type="checkbox" ng-click="selectAll()" /></label></td>
                        <th style="width: 5%;text-align:center">
                            <a style="all:unset" href="javascript:void(0)" ng-click="sortType = 'ID'; sortIt = !sortIt">
                                ID
                                <span ng-show="sortType == 'ID' && !sortIt" class="fa fa-sort-numeric-asc"></span>
                                <span ng-show="sortType == 'ID' && sortIt" class="fa fa-sort-numeric-desc"></span>
                            </a>
                        </th>
                        <th style="width: 20%;text-align:center">
                            <a style="all:unset" href="javascript:void(0)" ng-click="sortType = 'Name'; sortIt = !sortIt">
                                Tên sản phẩm
                                <span ng-show="sortType == 'Name' && !sortIt" class="fa fa-sort-alpha-asc"></span>
                                <span ng-show="sortType == 'Name' && sortIt" class="fa fa-sort-alpha-desc"></span>
                            </a>
                        </th>
                        <th style="width: 10%;text-align:center">
                            <a style="all:unset" href="javascript:void(0)" ng-click="sortType = 'Price'; sortIt = !sortIt">
                                Giá
                                <span ng-show="sortType == 'Price' && !sortIt" class="fa fa-sort-numeric-asc"></span>
                                <span ng-show="sortType == 'Price' && sortIt" class="fa fa-sort-numeric-desc"></span>
                            </a>
                        </th>
                        <th style="width: 10%;text-align:center">
                            <a style="all:unset" href="javascript:void(0)" ng-click="sortType = 'PromotionPrice'; sortIt = !sortIt">
                                Giá KM
                                <span ng-show="sortType == 'PromotionPrice' && !sortIt" class="fa fa-sort-numeric-asc"></span>
                                <span ng-show="sortType == 'PromotionPrice' && sortIt" class="fa fa-sort-numeric-desc"></span>
                            </a>
                        </th>
                        <th style="width: 10%;text-align:center">Hình ảnh</th>
                        <th style="width: 10%;text-align:center">
                            <a style="all:unset" href="javascript:void(0)" ng-click="sortType = 'CreatedBy'; sortIt = !sortIt">
                                Người tạo
                                <span ng-show="sortType == 'CreatedBy' && !sortIt" class="fa fa-sort-numeric-asc"></span>
                                <span ng-show="sortType == 'CreatedBy' && sortIt" class="fa fa-sort-numeric-desc"></span>
                            </a>
                        </th>
                        <th style="width: 10%;text-align:center">
                            <a style="all:unset" href="javascript:void(0)" ng-click="sortType = 'CreatedDate'; sortIt = !sortIt">
                                Ngày tạo
                                <span ng-show="sortType == 'CreatedDate' && !sortIt" class="fa fa-sort-numeric-asc"></span>
                                <span ng-show="sortType == 'CreatedDate' && sortIt" class="fa fa-sort-numeric-desc"></span>
                            </a>
                        </th>
                        <th style="width: 10%;text-align:center">Trạng thái</th>
                        <th style="width: 10%;text-align:center">Thao tác</th>
                    </tr>
                    <tr ng-repeat="item in products | orderBy:sortType:sortIt">
                        <td align="center"><input type="checkbox" ng-model="item.checked" name="all" /></td>
                        <td align="center">{{item.ID}}</td>
                        <td align="center">{{item.Name}}</td>
                        <td align="center">$ {{item.Price}}</td>
                        <td align="center">
                            <div ng-if="item.PromotionPrice!==null">
                                $ {{item.PromotionPrice}}
                            </div>
                            <div ng-if="item.PromotionPrice===null">
                                Không có
                            </div>
                        </td>
                        <td align="center">
                            <img src="{{item.Image}}" style="width:100px;height:100px" />
                        </td>
                        <td align="center">
                            {{item.CreatedBy}}
                        </td>
                        <td align="center">
                            {{item.CreatedDate | date: 'dd/MM/yyyy'}}
                        </td>
                        <td align="center">
                            <span ng-class="{'badge bg-red':item.Status == false,
                                                 'badge bg-green':item.Status== true}">{{item.Status | statusFilter}}</span>
                        </td>
                        <td align="center">
                            <button class="btn btn-primary" ui-sref="product_edit({id:item.ID})"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger" ng-click="deleteProduct(item.ID)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProducts(page)"></pager-directive>
        </div><!-- /.box-footer-->
    </div>
</section>
<!-- /.content -->