@model OnlineShop.Web.Models.HomeViewModel

<section class="section-slide">
    <div class="wrap-slick1 rs1-slick1">
        <div class="slick1">
            @foreach (var slide in Model.Slides)
            {
                <div class="item-slick1" style="background-image: url(@slide.Image);">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-b-30">
                            @Html.Raw(slide.Content)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
