<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh mục sản phẩm
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ </a></li>
        <li><a href="#">Sản phẩm</a></li>
        <li class="active">Danh mục sản phẩm</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh mục sản phẩm</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="search()"><i class="fa fa-search"></i></button>
                                </div>
                                <input type="text" ng-keyup="searchPressEnter($event)" class="form-control" placeholder="Tìm kiếm..." ng-model="keyword">
                            </div>
                        </div>
                    </form><!-- /input-group -->
                </div>

                <div class="col-md-6">
                    <button class="btn btn-success" ui-sref="add_product_category">Thêm mới</button>
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled>Xóa</button>
                </div>

            </div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><label><input name="all" type="checkbox" ng-click="selectAll()" /></label></td>
                        <th style="width: 5%;text-align:center">
                            <a style="all:unset" href="javascript:void(0)" ng-click="sortType = 'ID'; sortIt = !sortIt">
                                ID
                                <span ng-show="sortType == 'ID' && !sortIt" class="fa fa-sort-numeric-asc"></span>
                                <span ng-show="sortType == 'ID' && sortIt" class="fa fa-sort-numeric-desc"></span>
                            </a>
                        </th>
                        <th style="width: 55%;text-align:center">
                            <a style="all:unset" href="javascript:void(0)" ng-click="sortType = 'Name'; sortIt = !sortIt">
                                Tên danh mục
                                <span ng-show="sortType == 'Name' && !sortIt" class="fa fa-sort-alpha-asc"></span>
                                <span ng-show="sortType == 'Name' && sortIt" class="fa fa-sort-alpha-desc"></span>
                            </a>
                        </th>
                        <th style="width: 20%;text-align:center">
                            <a style="all:unset" href="javascript:void(0)" ng-click="sortType = 'CreatedDate'; sortIt = !sortIt">
                                Ngày tạo
                                <span ng-show="sortType == 'CreatedDate' && !sortIt" class="fa fa-sort-numeric-asc"></span>
                                <span ng-show="sortType == 'CreatedDate' && sortIt" class="fa fa-sort-numeric-desc"></span>
                            </a>
                        </th>
                        <th style="width: 10%" ;text-align:center">Trạng thái</th>
                        <th style="width: 10%">Thao tác</th>
                    </tr>
                    <tr ng-repeat="item in  productCategories | orderBy:sortType:sortIt">
                        <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                        <td>{{item.ID}}</td>
                        <td>{{item.Name}}</td>
                        <td>
                            {{item.CreatedDate | date: 'dd/MM/yyyy  h:mm a'}}
                        </td>
                        <td align="center">
                            <span ng-class="{'badge bg-red':item.Status == false,
                                                 'badge bg-green':item.Status== true}">{{item.Status | statusFilter}}</span>
                        </td>
                        <td>
                            <button class="btn btn-primary" ui-sref="edit_product_category({id:item.ID})"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger" ng-click="deleteProductCategory(item.ID)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProductCagories(page)"></pager-directive>
        </div><!-- /.box-footer-->
    </div>
</section>
<!-- /.content -->